
@inherits Umbraco.Web.Macros.PartialViewMacroPage
    <ul>
      @{ var projects = Model.Content.Site().FirstChild("ProjectsMain").Children.Where(x => x.IsVisible()).ToArray(); }
                 @if (projects.Length > 0)
                 {
                 
              foreach (var item in projects.OrderBy("CreateDate desc").Where(n => n.GetPropertyValue<String>("status") == "Completed").Take(2))
                {
                
                    <li class="nav-item @(item.IsAncestorOrSelf(Model.Content) ? "current" : null)">
                        <a class="nav-link" href="@item.Url">@item.Name</a>
                    </li>
                    
                }
                }
    
</ul>