@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectsItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<h2>@Umbraco.Field("prjectTitle")</h2>
<p>Status: @Umbraco.Field("status")</p>
<p>@Umbraco.Field("projectDiscription")</p>
